.navbar{
    height: 5rem;
    text-align: right;
    background: url(/images/logo.png) no-repeat;
    background-size: 6%;
    background-position: 60px center;
    border: 0;
    padding-top: 1rem;
}
.pageNav{
    text-align: center;
}

/* banner图 */
.carousel-inner>.item{
    width: 100%;
    height: 468px;
}

.carousel-inner>.item>img{
    width: 100%;
    height: 100%;
}



.table .content{
    width: 600px;
    height: 100px;
    overflow: hidden;
}

.table tr, .table td{
    vertical-align: middle;
}
.table>tbody>tr>td{
    vertical-align: middle;
}

.table .modifyBtn{
    font-size: 48px;
    color: #007bff;
}